:root {
  --dark4: rgb(97, 72, 28);
  --dark3: rgb(164, 126, 59);
  --dark2: rgb(191, 151, 66);
  --dark1: rgb(230, 179, 37);
  --light4: rgb(197, 137, 64);
  --light3: rgb(229, 186, 115);
  --light2: rgb(250, 234, 177);
  --light1: rgb(250, 248, 241);
  --opBackground: rgba(255, 255, 255, 0.5);
  --cardBackground: rgb(204, 229, 255);
  /* background-color: var(--dark4); */
}

html {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, black 0%, var(--dark4) 100%);
  /* background: linear-gradient(0deg, var(--light3) 0%, var(--light1) 100%); */
}

[data-theme="dark"] {
  --font-color: #fefefe;
  background: linear-gradient(0deg, black 0%, var(--dark4) 100%);
}

.container-fluid {
  padding: 0;
}

header {
  display: flex;
  color: var(--dark1);
  background-color: var(--dark4);
  border-bottom: 1.5rem solid var(--dark2);
  min-height: 100px;
  justify-content: space-between;
  padding: 10px;
  padding-left: 15rem;
}

#headerTopRight {
  display: flex;
}

.fa-mug-hot {
  margin-right: 10px;
}

#settingsDropDown {
  display: flex;
  align-items: center;
  position: relative;
}

#settingsButton {
  outline: none;
}

.insideButton {
  font-size: 28px;
}

.iconButton {
  border: none;
  background: rgb(0, 0, 0, 0);
  outline: none;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.iconButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* .dropButton {
  border: 2px solid black;
  border-radius: 23px;
  padding: 2px 20px 2px 20px;
  font-size: 16px;
} */

/* .dropButton > option {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
  color: black;
} */

/* .dropButton option {
  padding: 10px 16px;
  width: 100%;
  border: none;
  text-decoration: none;
  display: block;
} */

.dropDownContent {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  z-index: 1;
  color: black;
}

.dropDownContent p {
  padding: 10px 16px;
  width: 100%;
  border: none;
  text-decoration: none;
  display: block;
}

/* .dropDown:hover .dropDownContent {
  display: block;
} */

/* .dropDown:hover .dropButton {
  background-color: var(--light3);
} */

.switch {
  height: 100px;
  position: fixed;
  right: 50px;
  top: 50px;
}

.themeSwitch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.themeSwitch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2b2b2b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Alt for dark mode */
/* .darkMode {
  background: linear-gradient(0deg, var(--light2) 0%, var(--light1) 100%);
}
function myFunction() {document.body.classList.toggle("dark-mode");}  */

main {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 20px;
}

.bg {
  background-color: var(--opBackground);
  border-radius: 10px;
}

#weatherContainer {
  display: flex;
  flex-direction: column;
}

#weatherTop {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-evenly;
  margin-bottom: 10px;
  /* border: 3px solid red; */
}

#weatherSearchBox {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  flex-grow: 1;
  padding: 10px;
}

#searchForm {
  display: flex;
}

#saved-cities {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#clear-history {
  display: flex;
  margin-top: auto;
  justify-content: center;
}

.cityButtons {
  margin: 5px;
}

.city-btn:hover {
  background-color: rgb(246, 245, 245, 0.3);
  cursor: pointer;
}

#weather-today {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;
}

#todaysData > p {
  padding: 10px 0;
}

.weatherGif {
  max-height: 18rem;
}

#five-day-forecast-header {
  padding: 10px;
  text-align: center;
}

#five-day-forecast {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#cardContainer {
  display: flex;
  justify-content: space-evenly;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
}

.card-body {
  background-color: var(--cardBackground);
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px;
}

.card-header {
  background-color: var(--cardBackground);
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.card-title {
  margin-top: auto;
  margin-bottom: auto;
}

.forecast-text {
  display: inline;
}

#newsContainer {
  background-color: var(--opBackground);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#newsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#newsSettings {
  display: flex;
  align-items: center;
}

#newsDropDown {
  position: relative;
  display: inline-block;
}

/* outline is only working in id, not class */
#clearNewsSavesButton {
  display: none;
  outline: none;
  margin: 0 10px;
}

#showSavesButton {
  outline: none;
}

.savedLinks {
  display: none;
}

#articleDisplay {
  background-color: var(--light2);
  border-radius: 10px;
  margin: 10px;
}

#articleDisplay > div {
  padding: 10px;
}

.newsCardStyle {
  padding: 10px;
  /* margin: 10px; */
  border-radius: 10px;
}

.news-body {
  display: flex;
  justify-content: space-between;
}

.yNewsBoxStyle {
  display: flex;
  flex-direction: column;
}

#loader {
  display: none;
}

.show {
  display: block;
}

#mapContainer {
  background-color: var(--opBackground);
  border-radius: 10px;
  padding: 10px;
}

#mapContainerPart2 {
  position: relative;
  height: 512px;
  width: 512px;
}

.overlayTrafficTL {
  position: absolute;
  top: 0px;
  left: 0px;
}

.overlayTrafficTR {
  position: absolute;
  top: 0px;
  left: 256px;
}

.overlayTrafficBL {
  position: absolute;
  top: 256px;
  left: 0px;
}

.overlayTrafficBR {
  position: absolute;
  top: 256px;
  left: 256px;
}
